<!DOCTYPE html>
<html>
<head>
<title>会员资料</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<style type="text/css">
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', 'Arial', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'STHeiti', 'WenQuanYi Micro Hei', 'SimSun', 'sans-serif';
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
}

.wrapper {
	max-width: 700px;
	padding: 20px;
}

.line{
	margin-top: 20px;
}

label {
	color: #8c8c8c;
	vertical-align: top;
	width: 12%;
	padding-right: 10px;
	padding-top: 5px;
	display: inline-block;
	text-align: right;
}

label.bottom{
	vertical-align: bottom;
}

.photo{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin: 10px auto;
}

.btn{
	
}

.text {
	width: 78%;
	border: 0 none;
	line-height: 30px;
	border-bottom: 1px solid #C9C9C9;
	outline: none;
	font-size: 13px;
	border-radius: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	display: inline-block;
}

.textarea {
	font-size: 13px;
	width: 78%;
	vertical-align: middle;
	border: 0 none;
	overflow: hidden;
	resize: none;
	line-height: 28px;
	background: -webkit-linear-gradient(top, transparent 29px, #C9C9C9 30px);
	background: linear-gradient(top, transparent 29px, #C9C9C9 30px);
	background-size: 100% 30px;
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
</style>
</head>
<body>
	<div class="wrapper">
	<form method="POST" action="{{action}}">
	<input type="hidden" name="uid" class="input" value="{{user.uid}}"/>
	<input type="hidden" name="token" class="input" value="{{user.token}}"/>
	<input type="hidden" name="appid" class="input" value="{{appid}}"/>
	<input type="hidden" name="aid" class="input" value="{{aid}}"/>
	<input type="hidden" name="id" class="input" value="{{id}}"/>
	<div class="line">
        <label class="bottom"> </label>
        <p style="display:inline-block;">您的会员信息如下</p>
    </div>
	<div class="line">
        <img class="photo" src="{{user.avatar|default('https://assets.servedby-buysellads.com/p/manage/asset/id/16148')}}">
    </div>
	<div class="line">
        <label class="bottom">昵称</label>
        <input type="text" name="nickname" value="{{user.nickname}}" class="text">
    </div>
	<div class="line">
        <label>简介</label>
        <textarea name="" id="" name="desc" cols="30" rows="2" class="textarea">
			{{user.desc}}
		</textarea>
    </div>
	<div class="line">
        <label class="bottom">姓名</label>
        <input type="text" name="name" value="{{user.name}}" class="text">
    </div>
	<div class="line">
        <label class="bottom">性别</label>
        <input type="text" name="sex" value="{{user.sex}}" class="text">
    </div>
	<div class="line">
        <label class="bottom">手机号</label>
        <input type="text" name="mobile" value="{{user.mobile}}" class="text">
    </div>
	<div class="line">
        <label class="bottom">微信号</label>
        <input type="text" name="wachart" value="{{user.wachart}}" class="text">
    </div>
	<div class="line">
        <label class="bottom">公司</label>
        <input type="text" name="company" value="{{user.company}}" class="text">
    </div>
	<div class="line">
        <label class="bottom">职位</label>
        <input type="text" name="profession" value="{{user.profession}}" class="text">
    </div>
	
	<div class="line">
        <label>地址</label>
        <textarea name="" id="" name="address" cols="30" rows="2" class="textarea">
			{{user.address}}
		</textarea>
    </div>
	
	<div class="line">
        <label class="bottom">邮编</label>
        <input type="text" name="postcode" value="{{user.postcode}}" class="text">
    </div>
	<div class="line">
        <label class="bottom"> </label>
        <input type="submit" class="btn"  value="保存"/>
    </div>
	</form>
	</div>
</body>
</html>