<!DOCTYPE html>
<html>
<head>
<title>会员资料</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<style type="text/css">
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', 'Arial', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'STHeiti', 'WenQuanYi Micro Hei', 'SimSun', 'sans-serif';
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
}

.wrapper {
	max-width: 700px;
	padding: 20px;
}

.line{
	margin-top: 20px;
}

label {
	vertical-align: top;
	width: 20%;
	padding-right: 10px;
	padding-top: 5px;
}

label.bottom{
	vertical-align: bottom;
}

.photo{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin: 10px auto;
}

.text {
	width: 78%;
	border: 0 none;
	line-height: 30px;
	border-bottom: 1px solid #C9C9C9;
	outline: none;
	font-size: 13px;
	border-radius: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

.textarea {
	font-size: 13px;
	width: 80%;
	vertical-align: middle;
	border: 0 none;
	overflow: hidden;
	resize: none;
	line-height: 28px;
	background: -webkit-linear-gradient(top, transparent 29px, #C9C9C9 30px);
	background: linear-gradient(top, transparent 29px, #C9C9C9 30px);
	background-size: 100% 30px;
	outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
</style>
</head>
<body>
	<form method="POST" action="{{action}}">
	<input type="hidden" name="uid" class="input" value="{{user.uid}}"/>
	<input type="hidden" name="token" class="input" value="{{user.token}}"/>
	<p>您的会员信息如下</p>
	<div class="line">
        <img class="photo" src="https://assets.servedby-buysellads.com/p/manage/asset/id/16148">
    </div>
	<div class="line">
        <label class="bottom">昵称</label>
        <input type="text" class="text">
    </div>
	<div class="line">
        <label>简介</label>
        <textarea name="" id="" cols="30" rows="2" class="textarea"></textarea>
    </div>
	<dl>
		<dt> </dt>
		<dd><img src="{{user.avatar}}"/></dd>
	</dl>
	<dl>
		<dt>昵称</dt>
		<dd><input type="text" name="nickname" class="input" value="{{user.nickname}}"/></dd>
	</dl>
	<dl>
		<dt>简介</dt>
		<dd><input type="text" name="desc" class="input" value="{{user.desc}}"/></dd>
	</dl>
	<dl>
		<dt> </dt>
		<dd><input type="text" name="desc2" class="input" value="{{user.desc}}"/></dd>
	</dl>
	<dl>
		<dt>姓名</dt>
		<dd><input type="text" name="name" class="input" value="{{user.name}}"/></dd>
	</dl>
	<dl>
		<dt>性别</dt>
		<dd><input type="text" name="sex" class="input" value="{{user.sex}}"/></dd>
	</dl>
	<dl>
		<dt>手机号</dt>
		<dd><input type="text" name="mobile" class="input" value="{{user.mobile}}"/></dd>
	</dl>
	<dl>
		<dt>微信号</dt>
		<dd><input type="text" name="wechat" class="input" value="{{user.wechat}}"/></dd>
	</dl>
	<dl>
		<dt>公司</dt>
		<dd><input type="text" name="company" class="input" value="{{user.company}}"/></dd>
	</dl>
	<dl>
		<dt>职位</dt>
		<dd><input type="text" name="profession" class="input" value="{{user.profession}}"/></dd>
	</dl>
	<dl>
		<dt>通信地址</dt>
		<dd><input type="text" name="address" class="input" value="{{user.address}}"/></dd>
	</dl>
	<dl>
		<dt> </dt>
		<dd><input type="text" name="address2" class="input" value="{{user.address}}"/></dd>
	</dl>
	<dl>
		<dt>邮编</dt>
		<dd><input type="text" name="code" class="input" value="{{user.code}}"/></dd>
	</dl>
	<dl>
		<dt> </dt>
		<dd><input type="submit"  value="保存"/></dd>
	</dl>
	</form>
</body>
</html>